<!-- Nav bar -->
<%- include("partials/navbar.ejs") %>

<div class="container-lg py-5 col-2-8 flex-wrap" id="main">

  <div class="row recipe-container py-3">
    
    <% if (locals.drink) {%>
      <%- include("partials/recipe.ejs") %>
    <% } else { %>
      <h1>Content could not load</h1>
      <% }%>
  </div>

  <div class="row">
    <div class="col text-center py-5 h100 pointer">
      <a class="btn btn-primary-emphasis click" href="/random" role="button">Surprise Me!</a>
    </div>
  </div>

  
</div>

<!-- Footer -->
<%- include("partials/footer.ejs") %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>