<!-- Filters for search page -->

<div class="row g-3">
    <div class="col-lg-3 col-md-6 align-items-center">
      <p class="text-center">Alchohol or no Alcohol? 🤷‍♂️</p>
      <select class="form-select rounded-5 custom-glow" name="alchoholic" required="">
        <option value="">Select</option>
        <option>Any</option>
        <option>Alcoholic</option>
        <option>Non Alcoholic</option>
        <option>Optional Alcohol</option>
      </select>
    </div>

    <div class="col-lg-3 col-md-6">
      <p class="text-center">Ingredients 🍓 + 🍷</p>
      <select class="form-select rounded-5 custom-glow" name="alchoholType" required="">
        <option value="">Select</option>
        <option>Any</option>
        <option>Light Rum</option>
        <option>Applejack</option>
        <option>Gin</option>
        <option>Dark rum</option>
        <option>Sweet Vermouth</option>
        <option>Strawberry schnapps</option>
        <option>Scotch</option>
        <option>Apricot brandy</option>
        <option>Triple sec</option>
        <option>Southern Comfort</option>
        <option>Orange bitters</option>
        <option>Brandy</option>
        <option>Lemon vodka</option>
        <option>Blended whiskey</option>
        <option>Dry Vermouth</option>
        <option>Amaretto</option>
        <option>Tea</option>
        <option>Champagne</option>
        <option>Coffee liqueur</option>
        <option>Bourbon</option>
        <option>Tequila</option>
        <option>Vodka</option>
        <option>Añejo rum</option>
        <option>Bitters</option>
        <option>Sugar</option>
        <option>Kahlua</option>
        <option>demerara Sugar</option>
        <option>Dubonnet Rouge</option>
        <option>Watermelon</option>
        <option>Lime juice</option>
        <option>Irish whiskey</option>
        <option>Apple brandy</option>
        <option>Carbonated water</option>
        <option>Cherry brandy</option>
        <option>Creme de Cacao</option>
        <option>Grenadine</option>
        <option>Port</option>
        <option>Coffee brandy</option>
        <option>Red wine</option>
        <option>Rum</option>
        <option>Grapefruit juice</option>
        <option>Ricard</option>
        <option>Sherry</option>
        <option>Cognac</option>
        <option>Sloe gin</option>
        <option>Apple juice</option>
        <option>Pineapple juice</option>
        <option>Lemon juice</option>
        <option>Sugar syrup</option>
        <option>Milk</option>
        <option>Strawberries</option>
        <option>Chocolate syrup</option>
        <option>Yoghurt</option>
        <option>Mango</option>
        <option>Ginger</option>
        <option>Lime</option>
        <option>Cantaloupe</option>
        <option>Berries</option>
        <option>Grapes</option>
        <option>Kiwi</option>
        <option>Tomato juice</option>
        <option>Cocoa powder</option>
        <option>Chocolate</option>
        <option>Heavy cream</option>
        <option>Galliano</option>
        <option>Peach Vodka</option>
        <option>Ouzo</option>
        <option>Coffee</option>
        <option>Spiced rum</option>
        <option>Water</option>
        <option>Espresso</option>
        <option>Angelica root</option>
        <option>Orange</option>
        <option>Cranberries</option>
        <option>Johnnie Walker</option>
        <option>Apple cider</option>
        <option>Everclear</option>
        <option>Cranberry juice</option>
        <option>Egg yolk</option>
        <option>Egg</option>
        <option>Grape juice</option>
        <option>Peach nectar</option>
        <option>Lemon</option>
        <option>Firewater</option>
        <option>Lemonade</option>
        <option>Lager</option>
        <option>Whiskey</option>
        <option>Absolut Citron</option>
        <option>Pisco</option>
        <option>Irish cream</option>
        <option>Ale</option>
        <option>Chocolate liqueur</option>
        <option>Midori melon liqueur</option>
        <option>Sambuca</option>
        <option>Cider</option>
        <option>Sprite</option>
        <option>7-Up</option>
        <option>Blackberry brandy</option>
        <option>Peppermint schnapps</option>
        <option>Creme de Cassis</option>
      </select>
    </div>

    <div class="col-lg-3 col-md-6">
      <p class="text-center">Glass type 🍸 🥃</p>
      <select class="form-select rounded-5 custom-glow" name="glass" required="">
        <option value="">Select</option>
        <option>Any</option>
        <option>Highball glass</option>
        <option>Cocktail glass</option>
        <option>Old-fashioned glass</option>
        <option>Whiskey Glass</option>
        <option>Collins glass</option>
        <option>Pousse cafe glass</option>
        <option>Champagne flute</option>
        <option>Whiskey sour glass</option>
        <option>Cordial glass</option>
        <option>Brandy snifter</option>
        <option>White wine glass</option>
        <option>Nick and Nora Glass</option>
        <option>Hurricane glass</option>
        <option>Coffee mug</option>
        <option>Shot glass</option>
        <option>Jar</option>
        <option>Irish coffee cup</option>
        <option>Punch bowl</option>
        <option>Pitcher</option>
        <option>Pint glass</option>
        <option>Copper Mug</option>
        <option>Wine Glass</option>
        <option>Beer mug</option>
        <option>Margarita/Coupette glass</option>
        <option>Beer pilsner</option>
        <option>Beer Glass</option>
        <option>Parfait glass</option>
        <option>Mason jar</option>
        <option>Margarita glass</option>
        <option>Martini Glass</option>
        <option>Balloon Glass</option>
        <option>Coupe Glass</option>
      </select>
    </div>

    <div class="col-lg-3 col-md-6">
      <p class="text-center">Category 🗒️</p>
      <select class="form-select rounded-5 custom-glow" name="category" required="">
        <option value="">Select</option>
        <option>Any</option>
        <option>Ordinary Drink</option>
        <option>Cocktail</option>
        <option>Shake</option>
        <option>Other / Unknown</option>
        <option>Cocoa</option>
        <option>Shot</option>
        <option>Coffee / Tea</option>
        <option>Homemade Liqueur</option>
        <option>Punch / Party Drink</option>
        <option>Beer</option>
        <option>Soft Drink</option>
      </select>
    </div>
  </div>