<!-- Header -->
<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    
    <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
      <div class="form-floating">
        <input type="search" id="floatingInput" class="form-control placeholder-glow" placeholder="Search..." aria-label="Search">
        <label for="floatingInput">Search</label>
      </div>
    </form>
  </div>
</header>